.header{
    font-family: charmonman;
    font-weight: bold;
    text-decoration: underline;
    color: #ad9551;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.Inspiration{
    margin-top: -4rem;
}

.Inspiration p{
    margin: 1rem;
}

section {
    overflow: hidden;
    line-height: 2.5rem;
    padding: .2rem 3rem;
    margin-top: -1rem;
}

section p{
    font-size: 1rem;
    margin: 1rem;
}

.firstLetter::first-letter{
    font-size: 3rem; 
    color: #ad9551;
    font-family: charmonman;
}

.floteImageLeft{
    float: left;
    width: 30rem;
    height: 35rem;
}

.floteImageRight{
    float: right;
    width: 30rem;
    height: 22rem;
    border-radius: 1rem;
    margin-top: 1rem ;
    margin-left: .5rem;
}

@media(max-width: 1120px){
    .Inspiration{
        margin-top: 0;
    }
}

@media(max-width: 575px){
    .floteImageLeft{
        width: 20rem;
        height: 25rem;
    }
}
