.mainContainer{
    background-color: black;
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 1rem;
}

ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

ul li{
    color: white;
    list-style: none;
}

a{
    text-decoration: none;
}
