.theMianContainer{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2rem;
}

.mainContainer{
    width: 80%;
    height: 15rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: rgb(22,25,25);
    background: linear-gradient(357deg, rgba(22,25,25,1) 0%, rgba(235,191,96,1) 100%);
}

.header{
    margin-bottom: 5rem;
    font-size: 2rem;
    text-align: center;
    font-family: charmonman;
    background-color: #ad9551;
    color: white;
    width: 80%;
    margin: 1rem auto;
    border-radius: 10px;
}

.imageWrapper{
    position: relative;
    width: 70%;
    height: 70%;
    transform-style: preserve-3d;
    animation: spin 30s linear infinite ;
}

@keyframes spin {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(-360deg);
    }
}

.imageWrapper span{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(370px);
}

.imageWrapper span img{
    position: absolute;
    width: 35%;
    height: 80%;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: 1.5s;
}

.imageWrapper span img:hover{
    cursor: pointer;
    transform: translate(30px) scale(1.2);
}

details ul{
    display: flex;
    flex-direction: column;
}

details ul li{
    color: black;
    list-style: circle;
    margin-left: 2rem;
    margin: .5rem 1.5rem;
    
}

.componentSelection{
    display: flex;
    height: 2rem;
    align-items: center;
    margin-left: 8rem;
    column-gap: .5rem;
    color: black;

}

.verticalLineBrake{
    height: 2rem;
    color: black;
    border: 1px solid black;
}



.discriptionContainer{
    border: 1px solid black;
    width: 100%;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: .5rem ;
}

.disWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
.disWrapper h2{
    text-align: left;
    margin-bottom: .5rem;
    font-family: charmonman;
    font-weight: bold;
    background-color: #ad9551;
    width: max-content;
    padding: .5rem;
    border-radius: 10px;
    color: white;
}

.offerWrapper{
    margin-top: 2rem;
}

.offerWrapper p{
    font-size: 1.5rem;
    font-weight: bold;
}

.iconWrapper{
    color: black;
    display: flex;
    column-gap: 3rem;
    width: 40rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.iconWrapper:nth-child(2) p{
    font-size: 1rem;
    font-weight: lighter;
    margin: .5rem;
}

.iconWrapper div span{
    margin-right: 1rem;
}

.details{
    display: flex;
    text-decoration: dotted;
    column-gap: .5rem;
    margin-bottom: .5rem;
}


.buttonWrapper{
    display: flex;
    justify-content: center;
    column-gap: 7rem;
    margin: 5rem;
}

.buttonWrapper button{
    background-color: #ad9551;
    width:8rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    transition: 500ms ease-in-out;
}

.buttonWrapper button:hover{
    color: white;
    transform: scale(1.1);
    border-radius: 1rem;
}

